fastapi[standard]==0.113.0
langchain
langchain-community
langchain_openai  
langchain-text-splitters 
langchain[openai] 
langchain-core 
beautifulsoup4
langchain-deeplake
langgraph
tiktoken
pydantic
langgraph
tavily-python 
wikipedia 

